@media (max-width: 1400px){
  .container{
    width: 85%;
  }
}
@media (max-width: 1200px){
  .container{
    width: 85%;
  }
}
@media (max-width: 1024px){
  .container{
    width: 85%;
  }
}
@media (max-width: 993px){
  .container{
    width: 85%;
  }
}
@media (max-width: 768px){
  #menu{
    display: block;
  }
  .container{
    width: 85%;
  }
}
@media (max-width: 575px){
  .container{
    width: 85%;
  }
}
@media (max-width: 480px){
  .container{
    width: 85%;
  }
}
@media (max-width: 414px){
  .container{
    width: 85%;
  }
}
@media (max-width: 375px){
  .container{
    width: 85%;
  }
}
@media (max-width: 320px){
  .container{
    width: 85%;
  }
}
