@media (max-width: 1400px){
  .container{
    width: 85%;
  }
}
@media (max-width: 1200px){
  .container{
    width: 85%;
    .genres--blocks{
      overflow-y: scroll;
      //width: 1400px;
      .genres--blocks::-webkit-scrollbar {width: 0}
    }
  }
}
@media (max-width: 1024px){
  .container{
    width: 85%;
    .genres--blocks{
      ::-webkit-scrollbar{
  width: 0;}
    }
  }
}
@media (max-width: 993px){
  //.container {
  //  width: 950px;
  //  .genres {
  //    margin: 0;
  //    //.genres--blocks {
  //    //  overflow-y: scroll;
  //    //  width: 900px;
  //    //  ::-webkit-scrollbar {
  //    //    width: 0;
  //    //  }
  //    //  .genres--blocks__block{
  //    //    margin: 0 20px;
  //    //  }
  //    //}
  //    .genres--blocks {
  //      width: 900px;
  //      overflow-y: scroll;
  //      ::-webkit-scrollbar {
  //        width: 696px;
  //
  //        //width: 0;
  //      }
  //      .genres--blocks__block{
  //        margin: 0 20px 0 0;
  //      }
  //    }
  //  }
  //}
  .container {
    max-width: 950px;
    .genres {
      margin: 0;
      .genres--title{
        h1{
          font-size: 32px;
        }
      }
      .genres--blocks {
        overflow-y: scroll;
        width: 695px;
        ::-webkit-scrollbar {
          width: 0;
        }
        .genres--blocks__block{
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
@media (max-width: 768px){
  .container {
    max-width: 720px;
    margin: 0;
    .genres {
      margin: 0;
      .genres--title{
        h1{
          font-size: 28px;
        }
      }
      .genres--blocks {
        overflow-y: scroll;
        width: 516px;
        ::-webkit-scrollbar {
          width: 0;
        }
        .genres--blocks__block{
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
@media (max-width: 575px){
  .container {
    max-width: 500px;
    .genres {
      margin: 0;
      .genres--title{
        h1{
          font-size: 20px;
        }
      }
      .genres--blocks {
        overflow-y: scroll;
        width: 475px;
        ::-webkit-scrollbar {
          width: 0;
        }
        .genres--blocks__block{
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
@media (max-width: 480px){
  .container {
    max-width: 380px;
    .genres {
      margin: 0;
      .genres--title{
        h1{
          font-size: 32px;
        }
      }
      .genres--blocks {
        overflow-y: scroll;
        width: 355px;
        ::-webkit-scrollbar {
          width: 0;
        }
        .genres--blocks__block{
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
@media (max-width: 414px){
  .container {
    max-width: 380px;
    .genres {
      margin: 0;
      .genres--title{
        h1{
          font-size: 32px;
        }
      }
      .genres--blocks {
        overflow-y: scroll;
        width: 355px;
        ::-webkit-scrollbar {
          width: 0;
        }
        .genres--blocks__block{
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
@media (max-width: 375px){
  .container {
    max-width: 320px;
    .genres {
      margin: 0;
      .genres--title{
        h1{
          font-size: 28px;
        }
      }
      .genres--blocks {
        overflow-y: scroll;
        width: 295px;
        ::-webkit-scrollbar {
          width: 0;
        }
        .genres--blocks__block{
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
@media (max-width: 320px){
  .container {
    max-width: 280px;
    .genres {
      margin: 0;
      .genres--title{
        h1{
          font-size: 26px;
        }
        .p-1{
          font-size: 14px;
        }
      }
      .genres--blocks {
        overflow-y: scroll;
        width: 255px;
        ::-webkit-scrollbar {
          width: 0;
        }
        .genres--blocks__block{
          margin: 0 20px 0 0;
        }
      }
    }
  }
}
