
@media (max-width: 993px){
  .hero{
    .parent{
      margin-top: 150px;
    }
  }
}
@media (max-width: 768px){
  .hero{
    margin-top:90px;
  }
}@media (max-width: 480px){
  #hero{
    .hero{
      .parent{
        margin-top: 170px;
        h1{
          font-size: 24px;
        }
        p{
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 414px){
  .container {
    .hero {
      .parent {
        margin-top: 90px;
      }
    }
    .h1 {
      font-size: 20px;

      margin: 0;
    }
  }
}
@media (max-width: 375px){
  .container{
    .hero{
      margin-top: 25px;
      .parent {
        padding: 0;
        h1 {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 320px){
  .hero{
    margin-top: 80px;
  }
}
