@media (max-width: 1400px){
  .container{
    width: 85%;
  }
}
@media (max-width: 1200px){
  .container{
    width: 85%;
  }
}
@media (max-width: 1024px){
  .container{
    width: 85%;
  }
}
@media (max-width: 993px){
  .container{
    width: 85%;
  }
}
@media (max-width: 768px){
  .container{
    width: 85%;
    .about-content{
      display: flex;
      flex-direction: column;
    }
  }
}
@media (max-width: 575px){
  .container{
    width: 85%;
  }
}
@media (max-width: 480px){
  .container{
    width: 85%;
    .content{
      h1{
        font-size: 26px;
      }
    }
    .image{
      img{
        width: 70%;
        margin-left: 30px;
      }
    }
    .p{
      p{
        font-size: 14px;
        width: 440px;
        margin-left: 30px;
      }
    }
  }
}
@media (max-width: 414px){
  .container{
    width: 470px;
    .image{
      img{
        margin-left: 35px;
      }
    }
    .p{
      margin: 0;
      width: 85%; p{
      width: 100%;
      margin:0;
    }
    }
  }
}
@media (max-width: 375px){
  .container{
    width: 340px;
    .image{
      img{
        margin-left: 35px;
      }
    }
    .p{
      margin: 0;
      width: 85%; p{
      width: 100%;
      margin:0;
    }
    }
  }
}
@media (max-width: 320px){
  .container{
    width: 85%;
  }
}
