

#cards{
    .cards{
      display: flex;
      flex-wrap: wrap;
     justify-content:space-evenly;
    padding: 50px 0;

      &--img{
        width :300px;
        height: 400px;
      }
      &--title{
        &__top{
          display: flex;
          align-items: start;

          h3{
            width: 50%;
          }
        &--icons{
          display: flex;
          align-items: center;
          font-size: 30px;
          cursor: pointer;
        }
        }
        &__center{
          margin: 50px 0;
         width: 60%;
         h2{
           color: rgba(129, 142, 234, 1);
         }
        }
        &__bottom{
          display: flex;
          align-items: center;
          flex-wrap: wrap-reverse;
          &--btn{
            background: rgba(129, 142, 234, 1);
            color: #FFFFFF;
            border: none;
            padding: 10px 100px;
            border-radius: 12px;
          }
          &--btn2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: transparent;

            border: 1px solid rgba(129, 142, 234, 1);
            border-radius: 12px;
            padding: 10px 20px;
         .icon{
           color: rgba(129, 142, 234, 1);
           font-size: 22px;
         }
            h5{
              margin: 0 10px;
            }
          }
        }
      }
    }
  }

