#header {
  background: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 30px 0;
   &--ul{
      display: flex;
     align-items: center;
     flex-wrap: wrap;
     .active{
       color: var(--main-color, #818EEA);
       font-size: 20px;
       font-family: Public Sans;
       font-weight: 700;
       letter-spacing: -0.6px;
     }
      &__li{
        list-style-type: none;
        margin-right: 15px;
        &--title{
          color: var(--text-color, #19272E);
          font-size: 19px;
        margin-right: 32px;
        cursor: pointer;
        &--title {
          color: var(--main-color, #818EEA);
          font-size: 20px;
          font-family: Public Sans;
          font-weight: 500;
          letter-spacing: -0.6px;
        }
      }
    }
      &__burger{
        display: flex;
        align-items: center;
        transition: margin-left 5s;
        &--li {
          list-style-type: none;
          margin-right: 32px;
          cursor: pointer;
          &__title{
              color: var(--text-color, #19272E);
              font-size: 19px;
              font-family: Public Sans;
              font-weight: 500;
              letter-spacing: -0.6px;

          }
        }
      }

      }

    &--icons{
      display: flex;
      justify-content: space-around;
    align-items: center;
      gap: 10px;
.active{
  width: 20px ;
  height: 20px;
  position: relative;
  transition: 1s;
  background:transparent;
 .header--icons__search--icon{
position: absolute;
color: black;
   top:11px ;
left: 10px;
 }
  .header--icons__search--clear{
    display: none;
  }

}
&__search{
  width: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
  padding: 10px;
  transition: 1s;
  background: rgba(128, 128, 128, 0.71);
  &--icon{
    font-size: 20px;
    margin-right:20px;
    cursor: pointer;
  }
  &--input{
    ::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.65);
  }
    input{

      color: white;
      background: transparent;
      border: none;
      outline: none;



    }
  }
  &--clear{
  margin-left:20px;
    font-size: 20px;
cursor: pointer;
  }
}

      &__basket{
        font-size: 20px;
        color: rgba(25, 39, 46, 1);
      }
      &__burger {
        display: none;
        z-index: 2;
        margin-left: 15px;
        &--btn {
          position: relative;
          width: 35px;
          height: 35px;
          border: none;
          background: transparent;

          span {
            position: absolute;
            height: 3px;
            width: 25px;
            background-color: black;
            left: 5px;
            border-radius: 2px;
          }
          span:nth-child(1){
            transform: translateY(-8px);

          }
          span:nth-child(3){
            transform: translateY(8px);

          }
        }
      }

    }
  }

}



