
@media (max-width: 996px){
  .footer{
    margin: 0;
    padding: 0;
&--block{
  margin: 0 100px 0 0;
}
   &--bottom{

      }
    }
  }

@media (max-width: 768px){
  .footer{
    padding: 50px 0;

    &--block{
      margin: 5px;
    }

    &--bottom{

      &__title{

      }
    }
  }
}

@media (max-width: 721px) {
  .footer{
    flex-direction: column;
  }
}
@media (max-width: 599px) {
  .footer{
    &--block{


    }
&--bottom{
  display: flex;
  justify-content: start;
  //margin-left: 0;
}
  }
}
