@media (max-width: 1400px){
  .container{
    width: 85%;
  }
}
@media (max-width: 1200px){
  .container{
    width: 85%;
  }
}
@media (max-width: 1024px){
  .container{
    width: 85%;
    .lorems{
      width: 50%;
    }
  }
}
@media (max-width: 993px){
  .container{
    width: 85%;
    .footer{
      margin: 0;
      padding: 0;
      flex-direction: column;
      .lorems{
        display: grid;
        margin-left: 20px;
        grid-template-columns: 200px 200px ;
        .footer--title{
          margin: 20px 0;
        }
      }
    }
  }
}
@media (max-width: 768px){
  .container{
    width: 85%;
    .footer{
      margin: 0;
      padding: 0;
      flex-direction: column;
      .lorems{
        display: grid;
        margin-left: 20px;
        grid-template-columns: 200px 200px;
        .footer--title{
          margin: 20px 0;
        }
      }
    }
  }
}
@media (max-width: 575px){
  .container{
    width: 85%;
  }
}
@media (max-width: 480px){
  .container{
    width: 85%;
  }
}
@media (max-width: 414px){
  .container{
    width: 85%;
  }
}
@media (max-width: 375px){
  .container{
    width: 85%;
  }
}
@media (max-width: 320px){
  .container{
    width: 85%;
  }
}
