@import "components/header/style";
@import "components/footer/style";
@import "components/hero/style";
@import "components/genres/style";
@import "components/new/style";
@import "components/allBooks/style";
@import "components/aboutUs/style";
@import "components/slider/style";
@import "components/header/media";
@import "components/burger-menu/burger";
@import "components/hero/media";
@import "components/genres/media";
@import "components/new/media";
@import "components/slider/media";
@import "components/aboutUs/media";
@import "components/burger-menu/media";
@import "components/footer/media";
@import "components/datailPage/style";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Public+Sans:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0 ;
  padding: 0;

}
.container{
  width: 80%;
  margin: 0 auto;
  a{
    text-decoration: none;
  }
}

