@media (max-width: 768px){
.new--title {
  h1 {
    font-size: 28px !important;
    font-weight: 400 !important;
    line-height: 38px !important;
  }
}
  .new{
    &--cards{
      &__card{
          margin-top: 0 !important;
      }
      &__card3{
          margin-top: 0!important;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 0;
  }

}


@media (max-width: 575px){
.new {
  &--cards{
    &__card{

    }
  }
}

  }
