@media (max-width: 768px){
.new--title {
  h1 {
    font-size: 28px !important;
    font-weight: 400 !important;
    line-height: 38px !important;
  }
}
  .new{
    &--cards{
      &__card{
          margin-top: 0 !important;
      }
      &__card:nth-child(3){
          margin-top: 0!important;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 0;
  }

}
@media (max-width: 890px) {
  #new{
    .new{
      &--cards{
        gap: 60px;
        &__card{
          max-width: 190px;
          height: 290px;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  #new{
    .new{
      &--cards{
        gap: 40px;
        &__card{
          max-width: 190px;
          height: 290px;
        }
      }
    }
  }
}


