@media (max-width: 1400px){
 #slider{
   .container{
     width: 85%;
   }
 }
}
@media (max-width: 1200px){
#slider{
  .container{
    width: 85%;
  }
}
}
@media (max-width: 1024px){
 #slider{
   .container{
     width: 85%;
   }
 }
}
@media (max-width: 993px){
 #slider{
   .container{
     width: 85%;
   }
 }
}
@media (max-width: 768px){
#slider{
  .container{
    width: 85%;
    .slider{
      &__cards {
        &--card{
          img{
            width: 70% ;
          }
          h3{
            font-size: 14px!important;
          }
          p{
            font-size: 14px !important;
          }
        }
      }
    }
  }
}
}
@media (max-width: 575px){
 #slider{
   .container{
     width: 85%;
    .slider{
      &--cards {
        &__card{
          img{
            width: 70% ;
          }
          h3{
            font-size: 12px!important;
            width: 70% !important;
          }
          p{
            font-size: 11px !important;
          }
        }
      }
    }
   }
 }
}
@media (max-width: 480px){
#slider{
  .container{
    width: 85% ;
 .slider{
   &--cards {
     &__card{
       img{
         width: 40% !important;
       }
       h3{
         font-size: 12px!important;
         width: 70% !important;
       }
       p{
         font-size: 11px !important;
         width: 30px;
       }
     }
   }
 }
  }
}
}
@media (max-width: 414px){
 #slider{
   .container{
     width: 85%;
   }
 }
}
@media (max-width: 375px){
 #slider{
   .container{
     width: 85%;
   }
 }
}
@media (max-width: 320px){
 #slider{
   .container{
     width: 85%;
   }
 }
}
@media (max-width: 1400px){
 #slider{
   .container{
     width: 85%;
   }
 }
}
@media (max-width: 1200px){
 #slider{
   .container{
     width: 85%;
   }
 }
}
@media (max-width: 1024px){
 #slider{
   .container{
     width: 85%;
   }
 }
}
@media (max-width: 993px){
  #slider{
    .container{
      width: 85%;
    }
  }
}
@media (max-width: 768px){
  #slider{
    .container{
      width: 85%;
    }
  }
}
@media (max-width: 575px){
  #slider{
  .container{
    width: 85%;
  }
}
}
@media (max-width: 480px){
  #slider{
    .container{
      width: 85%;
    }
  }
}
@media (max-width: 414px){
  #slider{
    .container{
      width: 85%;
    }
  }
}
@media (max-width: 375px){
  #slider{
    .container{
      width: 85%;
    }
  }
}
@media (max-width: 320px){
  #slider{
    .container{
      width: 85%;
    }
  }
}
